html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background: #fafbff;
}

section {
  height: 100vh;
  background: url(/images/bg-pattern.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  section {
    background-size: initial;
  }
}

.section_text {
  padding: 7em 0;
  text-align: center;
  position: relative;
}

.section_text h1 {
  font-size: 2.7em;
  font-weight: 800;
  color: #293356;
  margin-bottom: .3em;
  position: relative;
  z-index: 10;
}

@media (max-width: 625px) {
  .section_text h1 {
    font-size: 2em;
  }
}

.section_text p {
  font-size: 1.5em;
  color: #858fad;
  margin-top: 0;
  position: relative;
  z-index: 10;
}

@media (max-width: 625px) {
  .section_text p {
    width: 55%;
    margin: 0 auto;
  }
}

.section_text img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.section_component {
  width: 53em;
  background: white;
  -webkit-box-shadow: 0px 6px 8px 1px rgba(205, 215, 238, 0.93);
          box-shadow: 0px 6px 8px 1px rgba(205, 215, 238, 0.93);
  border-radius: 1em;
  padding: 3.5em;
}

@media (max-width: 625px) {
  .section_component {
    width: 30em;
    padding: 3.5em 1em;
  }
}

.section_component_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}

.section_component_top--views {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #858fad;
  letter-spacing: 1.5px;
  font-weight: 600;
}

@media (max-width: 625px) {
  .section_component_top--views {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}

.section_component_top--price {
  font-size: 3.7em;
  color: #293356;
}

.section_component_top--price span {
  font-size: 15px;
  color: #858fad;
}

@media (max-width: 625px) {
  .section_component_top--price {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}

.section_component_top--slider {
  width: 100%;
}

.section_component_top--slider #myRange {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #cdd7ee;
  outline: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(0%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 0%, #eaeefb 100%);
}

.section_component_top--slider #myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 5px 10px #a5f3eb;
          box-shadow: 0px 5px 10px #a5f3eb;
}

@media (max-width: 625px) {
  .section_component_top--slider {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 2em;
  }
}

.section_component_top--billing {
  width: 100%;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Rounded sliders */
}

.section_component_top--billing p {
  color: #858fad;
  font-size: 13px;
  padding: 0 1.3em;
}

@media (max-width: 625px) {
  .section_component_top--billing p {
    font-size: 11px;
  }
}

.section_component_top--billing h3 {
  color: #ff8c66;
  background-color: #feece7;
  padding: 4px 8px;
  border-radius: 15px;
}

@media (max-width: 625px) {
  .section_component_top--billing .show {
    display: none;
  }
}

.section_component_top--billing .hidden {
  display: none;
}

@media (max-width: 625px) {
  .section_component_top--billing .hidden {
    display: inline;
  }
}

.section_component_top--billing .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.section_component_top--billing .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.section_component_top--billing .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.section_component_top--billing .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.section_component_top--billing input:checked + .slider {
  background-color: #10d5c2;
}

.section_component_top--billing input:checked + .slider:before {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
}

.section_component_top--billing .slider.round {
  border-radius: 34px;
}

.section_component_top--billing .slider.round:before {
  border-radius: 50%;
}

@media (max-width: 625px) {
  .section_component_top--billing {
    margin-top: 0;
  }
}

.section_component_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  border-top: 1px solid #cdd7ee;
}

.section_component_bottom_left--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.section_component_bottom_left--item img {
  width: 9px;
  height: 8px;
  padding-right: 10px;
}

.section_component_bottom_left--item p {
  font-size: 13px;
  color: #858fad;
  margin: 0;
}

@media (max-width: 625px) {
  .section_component_bottom_left {
    margin-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section_component_bottom_right--btn {
  padding: 15px 60px;
  font-size: 13px;
  color: white;
  background: #293356;
  text-decoration: none;
  border-radius: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section_component_bottom_right--btn:hover {
  background: #10d5c2;
}

@media (max-width: 625px) {
  .section_component_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */